APP_NAME="Pixelwar"
APP_ENV=local
APP_DEBUG=true
APP_URL="http://localhost/pixelwar/web"
APP_TIMEZONE=Asia/Manila

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=your_database
DB_USER=root
DB_PASS=

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_ENCRYPTION=tls
MAIL_USERNAME=your-account@example.com
MAIL_PASSWORD=your-app-password
MAIL_FROM_ADDRESS=your-account@example.com
MAIL_FROM_NAME="Pixelwar"
